body {
    background-color:darkorange;
  }
  .fullscreen{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
  }
  .outer-card {
    background-color:beige;
    border-radius: 0.5em;
    padding: 20px;
    height: 15rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .outer-card p{
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
  }